%h1 All Queens
%table{:style=>"border:1px gray solid;"}
  %tr
    %th Name
    %th Email
    %th Kingdom
  - @queens.each do |q|
    %tr
      %td= link_to q.name, q
      %td= q.email
      %td= q.kingdom
      %td= link_to 'Show', q
      %td= link_to 'Edit', edit_queen_path(q)
      %td= link_to 'Delete', q, :confirm => 'Are you sure?', :method => :delete

%p= link_to 'New queen', new_queen_path