<p>
  <b>Name:</b>
  <%=h @queen.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @queen.email %>
</p>

<p>
  <b>Kingdom:</b>
  <%=h @queen.kingdom %>
</p>


<%= link_to 'Edit', edit_queen_path(@queen) %> |
<%= link_to 'Back', queens_path %>